body {
    background-color: white;
    margin: 0;
}

.header {
    text-align: center;
    background-color: green;
    height: 125px;
}

.affiche {
    background-color: #272f36;
    padding-top: 15px;
    margin-top: 30px;
    text-align: center;
    height: 1900px;
}